
.box-left {
    display: flex;
    flex-direction: column;
    align-items: center;

    .box-img {
        width: 380px;
        height: 380px;

        img {
            @include coverImage();
            border-radius: .375rem;

        }
    }

    .img-detail {
        margin-top: 12px;
        width: 380px;
        display: flex;
        justify-content: flex-start;

        .img-item {
            width: 56px;
            height: 56px;
            margin-right: auto;
            border-radius: .375rem;
            border: 1px solid #dee2e6;
            overflow: hidden;


            img {
                @include coverImage();
                border-radius: .375rem;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }


    }
}


.box-center {
    .price {
        font-size: 18px;
    }

}


.box-right {
    .avatar-img {
        @include boxImage(48, 48);

        img {
            @include coverImage();
        }
    }

    .flags {
        @include boxImage(28, 20);

        img {
            @include coverImage();
        }
    }

    .icon {
        min-width: 28px;
        text-align: center;
    }
}

.short-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.block-detail {
    margin-top: 20px;

    td {
        &:nth-child(1) {
            width: 200px;
            background-color: var(--bs-tertiary-bg);
        }
    }
}

.selected {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.variation-button {
    position: relative;
    width: 70px; /* Chiều rộng cố định của nút */
    height: 40px; /* Chiều cao cố định của nút */
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon {
    position: absolute;
    right: 1px; /* Điều chỉnh vị trí ngang của biểu tượng */
    top: 22px; /* Điều chỉnh vị trí dọc của biểu tượng */
    color: #007bff; /* Màu của biểu tượng check */
    font-size: 0.7em;
    display: none;
}

.variation-button.selected .check-icon {
    display: inline;
}

/*---------------------
  Featured
-----------------------*/
//.featured__item__pic__hover li {
//    list-style: none;
//    display: inline-block;
//    margin-right: 6px;
//}
//
//.featured__item__pic__hover li:hover button {
//    background: #ad394e;
//    border-color: #ad394e;
//}
//
//.featured__item__pic__hover li:hover button i {
//    color: #ffffff;
//    transform: rotate(360deg);
//}
//
//.featured__item__pic__hover li button {
//    font-size: 16px;
//    color: #ad394e;
//    height: 40px;
//    width: 40px;
//    line-height: 40px;
//    text-align: center;
//    border: 1px solid #ebebeb;
//    background: #ffffff;
//    display: block;
//    border-radius: 50%;
//    -webkit-transition: all, 0.5s;
//    -moz-transition: all, 0.5s;
//    -ms-transition: all, 0.5s;
//    -o-transition: all, 0.5s;
//    transition: all, 0.5s;
//}

//.featured__item__pic__hover li button i {
//    position: relative;
//    transform: rotate(0);
//    -webkit-transition: all, 0.3s;
//    -moz-transition: all, 0.3s;
//    -ms-transition: all, 0.3s;
//    -o-transition: all, 0.3s;
//    transition: all, 0.3s;
//}

//dhasdok

.featured__item__pic__hover {
    list-style: none;
    padding: 0;
    margin: 0;
}


.featured__item__pic__hover li {
    display: inline-block;
    margin-right: 6px;
}


.featured__item__pic__hover li:hover button i {
    color: rgb(255, 255, 255);
    transform: rotate(360deg);
    background: rgb(173, 57, 78);
}

.featured__item__pic__hover li button i {
    font-size: 16px;
    color: #ad394e;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ad394e;
    background: rgb(255, 255, 255);
    display: block;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.featured__item__pic__hover li button i.text-white {
    background: rgb(173, 57, 78);
    position: relative;
    transform: rotate(0);
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}
