.profile-user {
    font-size: 15px;
}

.icon1 {
    font-size: 18px;
    color: blue;
    font-weight: 800;
}

.profile-li_text {
    font-size: 15px;
}

.list-group-item i {
    padding: 0;
}

.list-group-item a {
    text-decoration: none;
    padding: 0 0;
}

.list-group-item {
    text-decoration: none;
}

.list-group .item1 {
    background-color: #f5f5f5;
    color: black;
}

#collapseExample {
    border-top: 1px dashed #c7c7c7;
}

.h-500 {
    height: 500px;
    /* Thiết lập chiều cao cố định là 500px */
}

@media (max-width: 576px) {
    .gender {
        gap: 15px;
    }

    .avatar-first {
        width: 80px;
    }

    .profile-user {
        font-size: 12px;
    }

    .icon1 {
        font-size: 15px;
    }

    .profile-li_text {
        font-size: 12px;
    }
}

/* box user first */
.avatar-first {
    border-radius: 50%;
    /* Thiết lập bán kính bo tròn bằng 50% */
    object-fit: cover;
    clip-path: circle(); /* Cắt hình ảnh theo hình tròn */
}

.name-user {
    width: 100px;
    /* Chiều rộng hộp */
    overflow: hidden;
    /* Ẩn văn bản tràn ra ngoài */
    text-overflow: ellipsis;
    /* Hiển thị dấu ba chấm */
    white-space: nowrap;
    /* Không chèn xuống dòng */
}

.user-profile ul li a {
    color: black;
    font-size: 15px;
}

.user-profile li a {
    padding: 0 10px;
    color: black;
    font-size: 15px;
}

.user-profile li i {
    color: black;
}

// profile address

.modal-header h1 {
    font-size: 1.5rem;
}

.modal-body {
    padding: 1rem 1.5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.dropdown-menu {
    //width: 100%;
    padding: 0.5rem;
}

.address-select {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.address-select select {
    flex: 1;
}

.address-list {
    max-height: 350px;
    overflow-y: auto;
}
